extends layout

block content
  section#welcome
    .welcome-message Welcome!
    a#start-chat.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='button', href='/chatroom') Start now
