doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here