.left {
  display: flex;
  justify-content: flex-start;
}
.center {
  display: flex;
  justify-content: center;
}
.right {
  display: flex;
  justify-content: flex-end;
}
body {
  font-family: 'Roboto', sans-serif;
}
.dialog-title {
  display: flex;
  justify-content: center;
}
.dialog-title > p {
  font-size: 1.7em;
  padding-top: 1em;
}
#show-dialog {
  position: fixed;
  left: 30px;
  margin: 20px;
}
.message-textfield {
  display: flex;
  width: 1000px;
  justify-content: center;
}
#chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#messages {
  width: 1000px;
}
.message-field {
  width: 650px;
}
footer {
}
.footer_message {
  display: flex;
  justify-content: center;
  width: 100%;
}
